* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-image: url(../images/telainicialwallpaper.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'EB Garamond', serif;
}

/* Header*/

header {
    width: 100%;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background: rgba(22, 4, 4, 0.623);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(71, 75, 136, 0.37);
    padding: 10px;
}

.logo {
    width: 30%;
    opacity: 50%;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    text-align: justify;
}

/* primeira sessão */

.intro {
    width: 100%;
    height: 15vh;
}

h1 {
    color: white;
    background: rgba(22, 4, 4, 0.623);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(71, 75, 136, 0.37);
    margin: 0.5%;
    border-radius: 15px;
    text-align: center;
}

/* sessão dos botões */

.navBtn {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 42vh;
}

ul {
    display: flex;
    flex-direction: row;
}

.btns {
    justify-content: space-evenly;
}

.nomes {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    font-size: 200%;
}

.foto1 {
    width: 250px;
    height: 200px;
}

.foto2 {
    width: 200px;
    height: 200px;
}

.foto3 {
    width: 250px;
    height: 200px;
}

a {
    display: flex;
}

a:hover {
    animation-name: pulsar;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes pulsar {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

/*FOOTER*/

footer {
    width: 100%;
    height: 10%;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: flex-start;
    background-color: black;
}

h3 {
    text-align: center;
    color: #FFFFFF;
}


/* MEDIA QUERY */

@media screen and (max-width: 768px) {
    .cabecalho {
        flex-direction: column;
        padding: 10px;
        border-radius: 25px;
    }

    .logo {
        width: 100%;
        border-radius: 25px;
    }

    /* primeira sessão */

    .intro {
        width: 100%;
        height: 25vh;
    }

    h1 {
        font-size: 150%;
    }

    /* sessão dos botões */

    .navBtn {
        height: 100vh;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: black;
    }

    ul {
        width: 50%;
        flex-direction: column;
        align-items: flex-end;
    }

    .nomes {
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
        background-color: transparent;
        color: white;
        font-size: 200%;
    }

    a:hover {
        animation: none;
    }

    /*FOOTER*/

    footer {
        width: 100%;
        height: 10%;
        display: block;
        position: absolute;
        text-align: center;
        background-color: rgb(119, 8, 8);
    }
}