* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    height: 100vh;
    background-image: url(../images/vitoriabackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'EB Garamond', serif;
}

/* Header */
header {
    width: 100%;
    text-align: center;
}

h1 {
    color: gold;
    font-size: 300%;
}

/* Main */

main {
    width: 100%;
    text-align: center;
}

h2 {
    color: gold;
    font-size: 200%;
}

div {
    display: flex;
    justify-content: center;
    padding: 5%;
}

.botaorestart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: max-content;
    max-height: max-content;
    border-radius: 50px;
    border-color: black;
    background-color: gold;
    transition: all 0.3s;
    font-family: 'EB Garamond', serif;
    font-size: 200%;
}

.botaorestart:hover {
    background-color: darkred;
    transform: scale(1.1);
    color: #e5e5e5;
    animation-name: pulsar;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

div {
    padding: 10%;
}

.icone {
    width: 10%;
}

@keyframes pulsar {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

/* MEDIA QUERY */

@media screen and (max-width: 768px) {
    
    body {
        background-position:center;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 60%;
    }

    h2 {
        flex-wrap: wrap;
        font-size: 200%;
    }

    .botaorestart {
        font-size: 150%;
    }
}