* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    background-image: url(../../images/elevenbackground1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Header*/
header {
    text-align: center;
}

h1 {
    color: white;
    background-color: black;
    opacity: 70%;
    font-family: 'EB Garamond', serif;
    margin: 1%;
    border-radius: 50px;
}

/* Main */

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 200%;
    background-color: black;
    opacity: 80%;
    font-family: 'EB Garamond', serif;
    border-radius: 15px;
    text-align: justify;
}

.botaoresponder {
    width: 140px;
    height: 50px;
    border-radius: 50px;
    border-color: #ffffff;
    background-color: gold;
    transition: all 0.3s;
}

.botaoresponder:hover {
    background-color: darkred;
    transform: scale(1.1);
    color: #e5e5e5;
}

/* MEDIA QUERY */

@media screen and (max-width: 768px) {
    body {
        height: 100vh;
        background-position:right;
    }

    main {
        display: flex;
        height: 90vh;
        align-items: center;
        padding: 5px;
    }

    div {
        justify-content: flex-start;
        height: 80vh;
    
    }

    button {
        margin: 50px;
    }
}