body,
html {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    background-image: url(../../images/elevenbackground1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size:100%;
    bottom: 0;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}

h1 {
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
    opacity: 70%;
    font-family: 'EB Garamond', serif;
    margin: 1%;
    border-radius: 50px;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 200%;
    background-color: black;
    opacity: 80%;
    font-family: 'EB Garamond', serif;
    border-radius: 50px;
    text-align: justify;
}

.botaoresponder {
    width: 140px;
    height: 50px;
    border-radius: 50px;
    border-color: #ffffff;
    background-color: gold;
    transition: all 0.3s;
}

.botaoresponder:hover {
    background-color: darkred;
    transform: scale(1.1);
    color: #e5e5e5;
}